body {
    font-family: sans-serif;
    padding: 2rem;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Container para as estatísticas de sensor */
.sensor-stats {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.sensor-stats p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
}
.sensor-stats span {
    color: #007bff; /* Destaque azul */
    font-size: 1.3rem;
}

/* Container para o gráfico */
.chart-container {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    /* Define uma altura fixa ou percentual para o container */
    height: 500px; 
    width: 90%;
    margin: 0 auto;
}